<h1><%= @user.first_name %> <%= @user.last_name %>'s grades</h1>
<h2> <%= @subject.name %></h2>
<div class="well">
  <%= link_to "New Grade", new_users_subject_path, remote: true, class: "btn btn-primary" %>
</div>
<table id class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Value</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody id="grades">
    <% @grades.each do |grade| %>
    <tr id="<%= "grade#{grade.id}"%>"><td>
    <%= grade.value %>
    <td>
      <%= link_to 'Edit', edit_grade_path(grade), remote: true, :class => 'btn btn-sm btn-info' %>
      <%= link_to 'Delete', grade, remote: true, :method => :delete,
                  data: {confirm: "Remove Grade?"}, :class => 'btn btn-sm btn-danger' %>
    </td>
  </td></tr>
    <% end %>
  </tbody>
</table>
